# Java / Maven
target/
*.class
*.jar
*.war
*.ear

# Virtual Machine Crash Logs
hs_err_pid*

# VS Code
.vscode/
.history/
*.code-workspace

# Banco de Dados H2 Local (se gerar arquivo)
*.mv.db
*.trace.db
